# Database
DB_URL=jdbc:mysql://root:dOAdtduUhJAbjmZNmNvkWneuYflgbffJ@turntable.proxy.rlwy.net:42048/railway
DB_USERNAME=root
DB_PASSWORD=dOAdtduUhJAbjmZNmNvkWneuYflgbffJ

# JWT
JWT_SECRET=replace_with_a_strong_256_bit_secret
JWT_EXPIRATION=3600000

# Gemini API
GEMINI_API_KEY=AIzaSyA_H8rxlUCvtHKQJEfTpDc_SUYpfeBhIDw
